@layer base {
    body {
        @apply bg-main;
        min-height: 100%;
        background-repeat: no-repeat;
    }

    a {
        @apply text-violet hover:text-violet-700 underline;
    }

    .main-container {
        @apply w-full h-screen font-sans;
    }

    .board-header {
        @apply flex m-4 justify-between;
    }

    .board-title {
        @apply text-white mr-4;
    }

    .showMenu-btn {
        @apply text-white text-sm underline hidden md:flex items-center underline;
    }

    .board {
        @apply px-4 pb-8 overflow-x-auto;
    }

    .board-dropzone {
        @apply flex items-start;
    }

    .list-container {
        @apply text-white rounded bg-violet bg-opacity-75 flex-shrink-0 w-64 p-2 mr-3;
    }

    .list-header {
        @apply flex justify-between py-1;
    }

    .list-title {
        @apply text-sm text-white capitalize;
    }

    .list-ellipsis {
        @apply h-4 fill-current cursor-pointer;
    }

    .list-body {
        @apply text-sm mt-2;
    }

    .card {
        @apply bg-violet-300 p-2 rounded mt-1 border-b border-violet-900 text-gray-50 hover:bg-violet-700;
    }

    .addCard-btn {
        @apply text-sm mt-3 text-gray-300 hover:text-gray-100 cursor-pointer;
    }

    .sortable-ghost {
        opacity: 0.75;
        border: dashed 1px white;
    }
}