@layer base {
	html {
		min-height: 100%;	
	}

	body {
		@apply bg-main py-5 text-white;
		font-weight: 300;
		background-repeat: no-repeat;
		font-family: 'Josefin Sans', sans-serif;
	}

	h1 {
		@apply font-bold text-center my-3;
		font-family: 'Chivo', sans-serif;
	}

	.header {
		font-family: 'Dancing Script', Georgia, Times, serif;
	}

	hr {
		height: 12px;
		border: 0;
		box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	}

	h2, h3, h4, h5, h6 {
		@apply text-2xl font-bold text-center my-3;
	}

	.hold {
		background: transparent;
		color: transparent;
		border: solid 2px #ffffff;
	}
}

@layer components {
	.board {
		@apply bg-violet p-5;
		height: 100%;
	}


	.cards {
		@apply list-none;
	}

	.card {
		@apply bg-violet-800 my-2.5;
		
	}
}