@layer components {
    .modal {
        @apply fixed z-10 inset-0 overflow-y-auto;
    }   

    .modal-container {
        @apply flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0
    }

    .modal-content {
        @apply inline-block align-bottom bg-violet-300 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full;
    }

    .modal-header {
        width: 100%;
        flex: 0;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .modal-body {
        padding: 24px;
        overflow-y: auto;
    }

    .modal .form-actions {
        @apply px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse
    }

    .modal .form-actions .btn {
        @apply w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 text-base font-medium focus:outline-none sm:ml-3 sm:w-auto sm:text-sm;
    }

    .modal-title {
        @apply text-lg leading-6 font-medium text-white;
    }

    .modal-body .p {
        @apply text-sm text-gray-500;
    }
}