<div class="board">
  <%= live_render @conn, FrontendWeb.Live.Board.Show,
    session: %{
      "board" => @board,
      "token" => @token,
      "access_token" => @access_token,
      "current_user" => @current_user,
      "permissions" => @permissions
    }
 %>
</div>