<div phx-hook="ListDrag" id="list_drag">
    <%= live_component @socket, FrontendWeb.Live.Components.List.DropZoneComponent,
        draggables: @lists
    %>
</div>

<%= if @modal == :edit do %>
    <%= live_render @socket, FrontendWeb.Live.Board.List.Edit,
        id: "list-edit-modal",
        session: %{
            "access_token" => @access_token,
            "csrf_token" => @csrf_token,
            "list_id" => @list_id,
            "list" => @list
        }
    %>
<% end %>
